<h4>Cards Form</h4>

<form id="new-card-form">

  <label for="new-card-title">Card title:</label>
  <input type="text"
         name="card[title]"
         value=""
         id="new-card-title"><br>


  <label for="new-card-description">
    Card description:
  </label>
  <input type="text"
         name="card[description]"
         value=""
         id="new-card-description"><br>

  <button id='close-card-form'>Cancel</button>
  <button type="submit"
          class='new-card-create'>
    Create New Card!
  </button><br>

</form>

