<div class="card-delete-btn">
  <button class="btn btn-danger hidden" id="card-delete-button">Delete Card</button>
</div>

<h4><%= card.escape("title") %></h4>

<p>
  <em>
    <%= card.escape("description") %>
  </em>
</p>