<h2>Templates:Boards:Index</h2>

<button class='refresh'>Refresh</button>

<ul id="custom-boards" id="sortable">
	<% boards.each(function(board) { %>
		<li>
			<a href="#boards/<%= board.escape("id") %>">
				<%= board.escape("title") %>
			</a>
		</li>
	<% }); %>
</ul>

<a href="#boards/new">Create a new board!</a>