<h2>Templates:Boards:New</h2>

<form id='new-board-form' role="form">
  <div class="form-group">
    <label for='board_title'>Title</label>
    <input type='text' class="form-control" name='board[title]' id='board_title'>
  </div>

  <input type='submit' value='Create Board' class="btn btn-primary">
</form>