<h2><%= board.escape("title") %></h2>
<h4>Templates:Boards:Show</h4>

<h1><%= board.escape('title') %></h1>

<div class="row">
  <div class="col-md-12" id="lists" class="clearfix">
  </div>
</div>

<div id="board-controls">
</div>

<button class="btn btn-danger" id="delete-button">Delete Board</button>






<a href="#/">Back</a>