.clearfix:after {
  content: ' ';
  visibility: hidden;
  display: block;
  clear: both;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

#custom-boards > li {
  list-style: none;
}

#custom-boards > li a {
  width: 200px;
  height: 200px;
  background-color: #6CF878;
  float: left;
  margin: 12px;
  padding: 12px;
  color: gray;
  font-size: 20px;
  border-radius: 0px;
  font-weight: bold;
}

#custom-boards > li a:hover {
  background-color: #F86CF6;
}

.list {
  margin: 10px 10px;
  float: left;
  width: 450px;
}

.card-well {
  border-radius: 2px;
  background-color: #CED5E0;
}

.card-create-btn {
  margin-top: 2px;
  color: white;
  float: right;
}

.list-delete-btn {
  border-radius: 2px;
  float: right;
  color: white;
  background-color: red;
  margin-right: 10px;
}

.card {
  margin: 8px 2px;
  padding: 10px;
  border: 1px dotted #ddd;
}

.card-delete-btn {
  float: right;
}

#board-controls {
  margin-top: 60px;
}