<div class="panel panel-primary">
  <div class="panel-heading" id="panel-heading-id">
    <%= list.escape('title') %>
    <a href="#" class='card-create-btn'>Create Card</a>
    <button class='list-delete-btn hidden'>Delete List</button>
  </div>
  <div class="panel-body cards" id="sortable">
  </div>
</div>
