<div class="panel panel-primary">
  <div class="panel-heading">
    <%= list.escape('title') %>
    <a href="#" class='card-create-btn'>Create Card</a>
    <a href="#" class='list-delete-btn'>Delete Card</a>
  </div>
  <div class="panel-body cards">
  </div>
</div>


